html, body, #page {
  font-family:'Raleway', sans-serif;
  color: rgba(0,0,0,.71);
  background: #f5f5f5;
}
.hidden {
  display: none !important;
}
a.active {
  background: #ccc;
}
#page {
  display: grid;
  grid-template-columns: 0% auto 0%;
  grid-template-rows: 0px 64px auto minmax(400px, auto) minmax(300px, auto);
  border: 1px solid #ccc;
}

@media(max-width:767px) {
  #page.small-menu-hidden {
    grid-template-rows: 0px 64px 0px minmax(400px, auto) minmax(300px, auto);
  }
}

header.top {
  display:none;
}

nav#social {
  display:grid;
  grid-template-columns: auto repeat(5, 32px);
}
#social>span {
  font-size: 14px;
  padding: 8px;
}
#social>a {
  border-left: 1px solid #ccc;
  font-size: 20px;
  padding: 6px;
  padding-bottom: 0;
  cursor: pointer;
}
#social>a:hover {
  background: rgba(0, 0, 0, .71);
  color: #f5f5f5;
}
nav#top {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items:center;
  border-bottom: 1px solid #ccc;
}
#menu-open {
  grid-column-end: 2;
  padding-left: 10px;
  font-size: 2rem;
}
#open-menu:hover {
  cursor: pointer;
}
#brand-logo {
  grid-column-start: 2;
  justify-self: center;
  background: #ccc;
  padding: 17px 12px;
  font-size: 25px;
}
nav#bar {
  display:none;
}
#close-menu {
  display: none;
}
nav#side {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  border-right: 0;
  display: grid;
  grid-template-rows: 0px 72px repeat(6, 40px);
  height: 100%;
}
.mobile-menu-hidden {
  display: none !important;
}
#logo {
  visibility: hidden;
}
#search {
  padding: 13px 10px 20px 10px;
  place-self: center;
}
#search>input {
  background: #f5f5f5;
  outline: 0;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 7px 7px;
  color: rgba(0, 0, 0, .71);
  max-width: 75%;
}
#search-icon {
  border: 1px solid #ccc;
  border-left: 0;
  font-size: 18px;
  padding: 7px;
  transform: translateY(12px);
  cursor: pointer;
}
#search-icon:hover {
  background: rgba(0,0,0,.71);
  color: #fafafa;
}
.menu-item {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
}
.menu-item:hover {
  background: rgba(0,0,0,.71);
  color: #fafafa;
}
a.menu-item:nth-child(9) {
  border-bottom: 1px solid #ccc;
}
main {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 24px;
}
.boxes {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
}

.box {
  list-style-type: none;
  background:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.box:nth-child(1) {
  background-image: url(../img/image1.jpg);
}
.box:nth-child(2) {
  background-image: url(../img/image2.jpg);
}
.box:nth-child(3) {
  background-image: url(../img/image3.jpg);
}
.box:nth-child(4) {
  background-image: url(../img/image4.jpg);
}
.box:nth-child(5) {
  background-image: url(../img/image5.jpg);
}
.box:nth-child(6) {
  background-image: url(../img/image6.jpg);
}
.content {
  padding: .5rem;
  color: #eaeaea;
  text-decoration: none;
  text-shadow: 2px 1px rgba(0,0,0,.71)
}
.content>h2, .content>p {
  padding: 0;
  margin: 0;
}
aside {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  border-left: 1px solid #ccc;
  padding: 5px 10px;
}
#links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  margin: 0;
}
a.nav-item {
  border-left: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
a.nav-item:hover {
  background: rgba(0,0,0,.71);
  color: #fafafa;
  cursor: pointer;
}

footer {
  height: 100%;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-column-end: 4;
  grid-row-end: 6;
  border-top: 1px solid #ccc;
  padding: 0;
  display: grid;
  grid-auto-rows: auto;
}
.column {
  padding: 24px;
}
.column.links>ul {
  padding-left: 10px;
  list-style: none;
}
.trademark {
  padding-left: 24px;
  padding-bottom: 2px;
  font-size: 0.8rem;
}

@media(min-width:767px) {
  #page {
    display: grid;
    grid-template-columns: 263px auto 25%;
    grid-template-rows: 32px 64px minmax(400px, auto) 300px;
    border: 1px solid #ccc;
  }
  #page.menu-hidden {
    grid-template-columns: 0px auto 25%;
  }
  #page.menu-hidden nav#side {
    display:none !important;
    border-right: 0;
  }
  header.top {
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
    justify-self: right;
  }
  nav#top {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    border-top: 1px solid #ccc;
    border-bottom: 0;
  }
  nav#bar {
    display:block;
    height: 63px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  nav#side {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid #ccc;
    display: grid !important;
    grid-template-rows: 89px 72px repeat(10, 40px);
    position:fixed;
  }
  #open-menu {
    display: block;
  }
  #close-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top:5px;
    font-size: 1.5rem;
  }
  #logo {
    visibility: visible;
    place-self: center;
    background: #ccc;
    padding: 17px 12px;
    font-size: 25px;
  }
  main {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border-top: 1px solid #ccc;
  }
  .boxes {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
  }
  .box:nth-child(1) {
    grid-column: 1/-1;
    grid-row: span 3;
  }
  .box:nth-child(2) {
    grid-column: span 2;
    grid-row: span 7;
  }
  .box:nth-child(3) {
    grid-column: span 4;
    grid-row: span 3;
  }
  .box:nth-child(4) {
    grid-column: span 2;
    grid-row: span 4;
  }
  .box:nth-child(5), .box:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }
  footer {
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 4;
    grid-row-end: 5;
    border-top: 1px solid #ccc;
    padding: 0;
    grid-template-rows: auto 24px;
    grid-template-columns: 60% 40%;
  }
}
